/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
   .container {
      max-width: 960px;
   }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
   .container {
      max-width: 720px;
   }
   .wrapper {
      flex-direction: column;
      text-align: center;
      gap: 51px;
   }
   .button {
      margin: 0 auto;
   }
   .button:hover  {
      width: 250px;
   }
   .action-wrap {
      flex-direction: column;
      text-align: center;
      padding: 101px 144px;
   }
   .action-wrap .intro {
      margin: 24px auto;
   }
   .hero-text h2 {
      text-align: center;
   }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
   .container {
      max-width: 540px;
   }
   .feature {
      flex-direction: column;
      text-align: center;
   }
   .features-container {
      width: auto;
   }
   .action-wrap {
      gap: 50px;
   }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
   .container {
      padding: 0 15px;
   }
   .hero-image {
      width: 100%;
      display: block;
   }
   .hero-text {
      width: auto;
   }
   h1 {
      font-size: 45px;
   }
   .action-wrap img {
      width: 201px;
   }
   .action-wrap {
      padding: 70px 20px;
   }
   .action-wrap .hero-text {
      width: 100%;
   }
   .action-wrap .intro {
      width: auto;
   }
   section {
      padding-top: 90px;
   }
   .footer {
      padding: 90px 0;
   }
   .wrapper {
      margin-top: 50px;
   }
   @keyframes rot {
      50% { 
         transform: scale(.9,1) translateY(-150px); 
      } 
   } 
}
